@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Inter'
    }
}

.bg-gradient {
    background: url(../src/static/bloom.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    margin-top: -550px;
    margin-left: -550px;
    height: 2000px;
    width: 2000px;
    opacity: 0.7;
}

::-webkit-scrollbar {
    display: none;
}
  
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}